/**
 *  
 * styles for the article header image
 * article types: feature and regular
 * 		+ feature - long top image
 * 		+ regular - small side image
 *
**/
.sidebar {
	@include clearfix();
	position: absolute;
    width: 100%;
    right: 0;
    border-left: 1px solid #d4d4d4;
    height: 100%;
    padding: 20px 15px;
    background: white;
    top: 0;

    .sidebar__block + .sidebar__block {
    	margin-top: 15px;
    }

    .sidebar__title {
    	font-size: 11px;
    	letter-spacing: 0.6px;
    	text-transform: uppercase;
    	font-weight: bold;
    }
}