@import "../third-party/uikit/core/overlay";
@import "../third-party/uikit/core/flex";


/**
 *  
 * styles for the article header image
 * article types: feature and regular
 *      + feature - long top image
 *      + regular - small side image
 *
**/
.article__header-image {
    position: relative;
    text-align: center;
    margin-top: 30px;
    
    .image-placeholder {
        &.regular { 
            display: block;

            img { height: 270px; }
        }

        &:not(.selected) { display: none; }
    }
    
    .feature .bg-parallax {
        height: 375px;
        width: 100vw;
        background: url(/static/images/placeholder-feature.jpg) no-repeat center center fixed;
        background-position-y: -77px;
    }

    .image-details {
        margin-top: 10px;

        input[name="photo_credit"] { width: 400px !important; }
    }

    .ui.basic.button.white { 
        color: white !important;
        box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.15) inset; 
    }
}
