/**
 *  
 * styles for the left side menu 
 * (replace by push menu on mobile devices)
 *
**/


/*------------------------------------*\
    HEADER
\*------------------------------------*/
    $headerHeight: 60px;
    #headerWrapper {
        background: rgba(255, 255, 255, 0.53);
        height: 60px;
        border-bottom: 1px solid #d2d1d1;
        box-shadow: 0 0px 6px rgba(0,0,0,0.15);
        color: #7b7b7b;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    #logo {
        height: $headerHeight;
        line-height: $headerHeight;
        margin-left: 45px;
        float: left;
        
        a { display: block; }

        span {
            margin-left: 6px;
            text-transform: uppercase;
            font-family: $sans-serif;
            font-size: 12px;
            letter-spacing: 1.6px;
        }
    }


/*------------------------------------*\
    MINI NAVBAR
\*------------------------------------*/
    .mini-nav {
    	list-style: none;
    	float: right;
        margin: 0;
        height: $headerHeight;
        padding-right: 30px;
        
        .icon { font-size: 15px; }

        .icon-cog {
            font-size: 17px;
            vertical-align: -2px;
        }
    
        .hidden-menu { display: none; }

        .nav-item:not(.display-none) {
            display: inline-block;
            position: relative;
            padding: 0 15px;
            line-height: $headerHeight;
        }
        
        $avatarSize: 35px;
        .avatar {
            height: $avatarSize;
            width: $avatarSize;
            overflow: hidden;
            @include border-radius(50%);
            position: absolute;
            vertical-align: middle;
            top: ($headerHeight - $avatarSize) / 2;

            img { vertical-align: top; }
        }

        .username {
            letter-spacing: 0.4px;
            font-size: 13px;
            margin-left: $avatarSize + 10px;
        }

        .nav-item:nth-child(5) .username { cursor: pointer; }
    }

    .uk-dropdown { line-height: 1.4; }


/*------------------------------------*\
    RESPONSIVENESS
\*------------------------------------*/
    @media only screen
    and (max-width : 768px) {
        .nav-item:nth-child(2),
        .nav-item:nth-child(4)
        {
            display: none;
        }

        .nav-item:nth-child(3) .hidden-menu {
            display: block;
        }
    }

    @media only screen
    and (max-width : 480px) {
        .mini-nav { padding-right: 10px; }
        
        .nav-item:nth-child(1),
        .nav-item:nth-child(2),
        .nav-item:nth-child(3),
        .nav-item:nth-child(4)
        {
            display: none;
        }

        .nav-item:nth-child(5) { display: block; }

        #logo { margin-left: 25px; }
    }
