@import "../mixins/clearfix";
@import "../mixins/list-inline";

/**
 *  
 * styles for the top header navbar
 * (replace by push menu/mmenu on mobile devices)
 *
**/
$height: 50px;
$padding: $height / 2;

#header {
	height: $height;
	background-color: white;
	color: #4a4a4a;
	font-size: 13px;
	border-bottom: 1px solid darken(whitesmoke, 7%);
	padding: 0 $padding;
	
	.icon {
		font-size: 17px;

		&.icon-trash-can2 {
			font-size: 21px;
		}
	}
}

#back {
	line-height: $height;
	float: left;
	display: block;
}

#docLinks {
	position: absolute;
	left: 75px;
	right: 0;
	width: 50%;

	.ui.menu {
		margin: 0;
	}

	ul {
		@include list-inline();
		width: auto;
		font-weight: bold;
		height: $height;
		line-height: $height;
		float: left;
	}
}

#extraLinks {
	@include list-inline();
	padding-right: $padding;
	float: right;
	height: $height;
	line-height: $height;
}