@import "../third-party/mmenu/_imp/import";
@include mm_sizing('.mm-small', .30, 30%, 75%);

$border: 1px solid #ccc;
#menu {
    background: white;
    border-right: $border;

    &:not(.mm-offcanvas) { display: none; }
    
    .mm-panel { padding: 0 30px; }

    .menu__title {
        text-align: center;
        font-size: 17px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 25px 0;
    }

    .menu__subtitle {
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        padding-bottom: 6px;
        border-bottom: $border;
        margin-top: 50px;
    }

    .mm-listview>li:not(.mm-divider):after { display: none; }

    .mm-listview>li {
        font-size: 12px;
        
        &.active {
            background-color: whitesmoke;
            font-weight: bold;
        }

        &.locked {
            cursor: not-allowed;
            
            .icon { 
                float: right;
                margin-top: 3px;
                font-size: 13px;
            }
        }
    }
    
    .display-mobile { 
        display: none;
        clear: both;
        border-top: $border;
        margin-top: 30px;
        position: relative;
        margin: 30px -30px;


        $height: 50px;
        div {
            display: inline-block;
            width: 50%;
            float: left;
            text-align: center;
            height: $height;
            line-height: $height;
            box-sizing: border-box;
            font-size: 12px;

            &:first-child { 
                border-right: $border;
            }
        }
    }
}



/*------------------------------------*\
    RESPONSIVENESS
\*------------------------------------*/
    @media only screen
    and (max-width : 780px) {
        $width: 40%;
        .mm-small.mm-opened {
            #menu {
                width: $width;
                min-width: $width;
            }

            #content {
                transform: translate($width, 0);
                transform: translate3d($width, 0, 0);
            }

            #mm-blocker {
                transform: translate($width, 0);
                transform: translate3d($width, 0, 0);
            }
        }
    }

    @media only screen
    and (max-width : 535px) {
        #menu .display-mobile { display: block; }
        
        $width: 55%;
        .mm-small.mm-opened {
            #menu {
                width: $width;
                min-width: $width;
            }

            #content {
                transform: translate($width, 0);
                transform: translate3d($width, 0, 0);
            }

            #mm-blocker {
                transform: translate($width, 0);
                transform: translate3d($width, 0, 0);
            }
        }
    }

    @media only screen
    and (max-width : 450px) {
        $width: 75%;
        .mm-small.mm-opened {
            #menu {
                width: $width;
                min-width: $width;
            }

            #content {
                transform: translate($width, 0);
                transform: translate3d($width, 0, 0);
            }

            #mm-blocker {
                transform: translate($width, 0);
                transform: translate3d($width, 0, 0);
            }
        }
    }


