{% macro title(author, coAuthors='', title='') -%}
	<div class="form-group">
		<input class="form-control" id="title" name="title" placeholder="Enter Title Here" type="text" ng-model="article.title" value="{{ title }}" />
	</div>

    <div class="form-group">
		<p>Written by <strong>{{ author }}<span id="authors">{{ coAuthors }}</span></strong></p>

		<div class="custom-dropdown">
			<div class="custom-dropdown-toggle" id="addAuthor">
				<span class="icon icon-circle-plus"></span>
				{% if coAuthors != '' %}
					Add/Change Co-Authors
				{% else %}
					add another author
				{% endif %}
			</div>

			<div class="custom-dropdown-menu" id="authorSelect">
				<ul>
					<li><label><input type="checkbox" value="Amanda" />Amanda</label></li>
					<li><label><input type="checkbox" value="ceymasterflex" />ceymasterflex</label></li>
					<li><label><input type="checkbox" value="empressomeko1" />empressomeko1</label></li>
					<li><label><input type="checkbox" value="jazzj409" />jazzj409</label></li>
					<li><label><input type="checkbox" value="LaFemmeCompatissante" />LaFemmeCompatissante</label></li>
					<li><label><input type="checkbox" value="mariagaddis" />mariagaddis</label></li>
					<li><label><input type="checkbox" value="naakienartey" />naakienartey</label></li>
					<li><label><input type="checkbox" value="rona.abara" />rona.abara</label></li>
					<li><label><input type="checkbox" value="shantaviae" />shantaviae</label></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- <div class="help-block text-muted"><small>Note: When this article is published, usernames will be replaced with the user's full name.</small></div> -->
{%- endmacro %}



{% macro header(image='', photoCred='') -%}
	<div class="image-overlay {% if image != '' %}file-open{% endif %}">
		<span class="icon icon-camera"></span>
		<div class="overlay-text">Edit Intro Image</div>

		<div class="custom-file-upload animated">
            <label class="file">
                <input type="file" id="headerIMG" name="headerIMG" data-image-input="#articleIMG" accept="image/*" />
                <span class="file-custom"></span>
            </label>

            <div class="cancel-upload">
                <span class="icon icon-circle-cross"></span>
            </div>
        </div>

		<div class="overlay-buttons">
			<ul>
				<li data-toggle="tooltip" data-title="delete image" class="delete-header"><span class="icon icon-circle-cross"></span></li>
				<li data-toggle="tooltip" data-title="change image" class="change-header"><span class="icon icon-circle-minus"></span></li>
			</ul>
		</div>
	</div>

	<div class="image">
		<img id="articleIMG" {% if image != '' %}src="{{ image }}"{% endif %}/>
	</div>
	
    <div class="image-details">
		<input type="text" class="form-control" id="photoCred" name="photoCred" placeholder="Photo Credit" ng-model="article.photoCred" value="{{ photoCred }}" />
    </div>
{%- endmacro %}