@import 'modules/admin';
@import 'modules/panel';
@import 'third-party/froala';



/**
 *  
 * Table of Contents
 * -----------------
 *
 * GENERAL STYLES .......... global variables, mixins, etc
 * PAGE SETUP............... credit app form element and top title bar/legend
 *
**/


/*------------------------------------*\
    GENERAL STYLES
\*------------------------------------*/
.releasedate { visibility: hidden; }

#contentWrapper { padding-top: 70px; }

#articles {
	height: 85vh;
    position: relative;
}

.panel-body {
	height: 72vh;
    overflow-y: scroll;
}

#previewPlaceholder {
	text-align: center;
	font-size: 25px;
	position: relative;
	height: 100%;

	.icon {
		margin-bottom: 15px;
		font-size: 57px;
	}
}

.article-preview {
	display: none;
    position: absolute;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}


