/* vendor styles */
@import 'third-party/animate';
@import 'third-party/froala';
@import 'third-party/semantic';
@import 'third-party/font-awesome/font-awesome';
@import 'third-party/icomoon/style';
@import 'third-party/mmenu';
@import 'third-party/_hmbrgr';


/* partials + mixins + responsiveness */
@import 'mixins/clearfix';
@import 'partials/fonts';
@import 'partials/mixins';
@import 'partials/helpers';
@import 'partials/responsive';


/* page components */
@import 'modules/base';
@import 'modules/datepicker';
@import 'modules/file-upload';
@import 'modules/header-editor';
@import 'modules/menu-editor';
@import 'modules/article-header';



/**
 *  
 * Table of Contents
 * -----------------
 *
 * GENERAL PAGE STYLINGS ....... global variables, mixins, etc
 * PAGE SETUP............... credit app form element and top title bar/legend
 *
**/


/*------------------------------------*\
    PAGE SETUP
\*------------------------------------*/
body { background: whitesmoke; }

.label {
    font-size: 0.7em;
    color: #A2C5E4;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    margin-top: 10px;
    font-weight: 300;
    display: block;
}

.ui.container { margin-top: $height + 30px; }



/*------------------------------------*\
    ARTICLE COMPONENTS
\*------------------------------------*/
.article__info {
    margin: 25px 0;
}

#title {
    width: 100%;

    input {
        @include transition(all.4s ease-in-out);
        border-radius: 0px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
        font-size: 2.2em;
        font-weight: 900;
        font-style: italic;
        font-family: 'Suranna', serif;
        padding: 0 0.3em;
    }
}

#description {
    position: relative;
    margin: 15px 0px;

    textarea {
        border-radius: 0px;

        &:not(:focus) { 
            border: none; 
            background-color: transparent;
        }
    }
}

.custom-dropdown {
    background-color: white;
    border: 1px solid darken(whitesmoke, 10%);
    width: 275px;
}

.custom-dropdown-toggle {
    text-align: center;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;

    .icon {
        padding-right: 5px;
        font-size: 17px;
        vertical-align: middle;
    }
}

.custom-dropdown-menu ul { 
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid darken(whitesmoke, 10%);
    font-size: 13px;

    li {
        padding: 5px 15px;

        &:hover {
            background-color: #F2F2F2;
        }
    }

    input {
        margin-right: 8px;
    }

    label {
        margin: 0;
        cursor: pointer;
    }
}

.box {
    position: relative;

    .box__title {
        @include clearfix();
        
        div {
            cursor: pointer;
            opacity: 0.6;
            
            &:first-child {
                float: left;
            }

            &:last-child {
                float: right;
            }
        }

        div.active {
            position: relative;
            opacity: 1;

            &:after, 
            &:before {
                left: 50%;
                bottom: -17px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                z-index: 1;
            }

            &:after {
                border-color: rgba(235, 235, 235, 0);
                border-bottom-color: whitesmoke;
                border-width: 14px;
                margin-left: -14px;
            }
            &:before {
                border-color: rgba(220, 220, 220, 0);
                border-bottom-color: #dcdcdc;
                border-width: 15px;
                margin-left: -15px;
            }
        }
    }

    .box__content {
        border: 1px solid darken(whitesmoke, 10%);
        background-color: whitesmoke;
        height: 150px;
        overflow-y: scroll;
        margin-top: 16px;
        padding: 11px;

        & > div {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 11px;
        }

        .inline.field {
            margin-bottom: 5px;
        }
    }
}







