/* vendor styles */
@import 'third-party/animate';
@import 'third-party/froala';
@import 'third-party/font-awesome';
@import 'third-party/semantic';


/* partials + variables + responsiveness */
@import 'partials/fonts';
@import 'partials/mixins';
@import 'partials/icons';
@import 'partials/helpers';
@import 'partials/responsive';


/* page components */
@import 'modules/base';
@import 'modules/header';
// @import 'modules/inputs';
@import 'modules/article-header';
@import 'modules/article-sidebar';
// @import 'modules/popouts';



/**
 *  
 * Table of Contents
 * -----------------
 *
 * GENERAL PAGE STYLINGS ....... global variables, mixins, etc
 * PAGE SETUP............... credit app form element and top title bar/legend
 *
**/


/*------------------------------------*\
    PAGE SETUP
\*------------------------------------*/
body { background: whitesmoke; }

#article 
{ 
	position: relative;
	// width: 80%;
	// margin: 0 auto 30px;
}

.label 
{
	font-size: 0.7em;
	color: #A2C5E4;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	margin-top: 10px;
	font-weight: 300;
	display: block;
}




/*------------------------------------*\
    ARTICLE COMPONENTS
\*------------------------------------*/
.article__info
{
	margin: 25px 0;
}

#title 
{
	font-size: 27px;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 5px solid black;
}

.custom-dropdown
{
	background-color: white;
	border: 1px solid darken(whitesmoke, 10%);
	width: 275px;
}

.custom-dropdown-toggle 
{
	text-align: center;
	cursor: pointer;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
	font-weight: bold;

	.icon
	{
		padding-right: 5px;
		font-size: 17px;
		vertical-align: middle;
	}
}

.custom-dropdown-menu ul
{ 
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid darken(whitesmoke, 10%);
	font-size: 13px;

	li 
	{
		padding: 5px 15px;

		&:hover 
		{
			background-color: #F2F2F2;
		}
	}

	input 
	{
		margin-right: 8px;
	}

	label 
	{
		margin: 0;
		cursor: pointer;
	}
}
