@import 'modules/admin';
@import 'mixins/clearfix';
@import 'third-party/uikit/core/modal';
@import 'third-party/uikit/components/slidenav';



/**
 *  
 * Table of Contents
 * -----------------
 *
 * GENERAL STYLES .......... global variables, mixins, etc
 * PAGE SETUP............... credit app form element and top title bar/legend
 *
**/


/*------------------------------------*\
    GENERAL STYLES
\*------------------------------------*/
#contentWrapper { padding-top: 85px; }

#grid {
    @include clearfix();
    text-align: center;
    // width: 90%;
    // margin: 0 auto;
}

.grid__item {
    width: 295px;
    margin-bottom: 15px;

    a {
        position: relative;
        display: block;
    }
}


