@import 'modules/admin';
@import 'modules/panel';
@import 'mixins/clearfix';
@import 'third-party/uikit/components/slidenav';



/**
 *  
 * Table of Contents
 * -----------------
 *
 * GENERAL STYLES .......... global variables, mixins, etc
 * PAGE SETUP............... credit app form element and top title bar/legend
 *
**/


/*------------------------------------*\
    GENERAL STYLES
\*------------------------------------*/
#contentWrapper { padding-top: 70px; }

#grid {
    @include clearfix();
    width: 80%;
    margin: 0 auto;
}

.grid__item {
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 250px;
    float: left;

    a {
        position: relative;
        height: 100%;
        width: 100%;
        display: block;
        color: inherit;
    }

    img {
        vertical-align: middle;
        max-width: 100%;
        height: auto;
    }
}


