<nav id="menu" class="mm-small" data-ng-controller="MenuController as menu">
    <div class="Panel">
        <div class="menu__title">Dashboard</div>
        
        <div class="menu__subtitle">Menu</div>
        <ul>
            <li><a href="{% url 'write' %}">Editor</a></li>
            
            {% if user.role == 'F' %}
                <li class="locked">
                    <a href="javascript:void(0);">Review <span class="icon icon-lock"></span></a>
                </li>

                <li {% if data.page == 'articles' %} class="active" {% endif %}><a href="{% url 'articles' %}">All Articles</a></li>
            {% endif %}
            
            <li class="locked">
                <a href="javascript:void(0);">Review Comments <span class="icon icon-lock"></span></a>
            </li>
            
            <li class="locked">
                <a href="javascript:void(0);">Gallery <span class="icon icon-lock"></span></a>
            </li>

            <!-- <li><a href="{% url 'gallery' %}">Gallery</a></li> -->
        </ul>

        <div class="menu__subtitle">Recent Updates</div>

        {% verbatim %}
        <div class="message" ng-repeat="x in menu.messages">
            <div class="message-avatar">
                <img src="https://s3.amazonaws.com/chicreptawr/avatars/molly.png" width="40" height="40">
            </div>

            <div class="message-data">
                <div class="message__info"><strong>{{ x.from }}</strong></div>
                <div class="message__message">{{ x.message }}</div>
                <div class="message__date">{{ x.sent }}</div>
            </div>
        </div>
        {% endverbatim %}

        <div class="display-mobile">
            <div><a href="{% url 'profile' %}">Profile</a></div>
            <div><a href="{% url 'logout' %}">Logout</a></div>
        </div>
    </div>
</nav>