/* core styles for admin pages */
@import 'modules/admin';
@import 'modules/panels';



/**
 *  
 * Table of Contents
 * -----------------
 *
 * GENERAL PAGE STYLINGS ....... global variables, mixins, etc
 * PAGE SETUP............... credit app form element and top title bar/legend
 *
**/


/*------------------------------------*\
    GENERAL STYLES
\*------------------------------------*/
.releasedate { visibility: hidden; }

#reviewWrapper { position: relative; }

#articles 
{
	height: 100vh;
	overflow-y: scroll;
}

#previewPlaceholder 
{
	text-align: center;
	font-size: 25px;
	opacity: 0.6;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.icon 
	{
		margin-bottom: 15px;
		font-size: 57px;
	}
}



/*------------------------------------*\
    RESPONSIVENESS
\*------------------------------------*/
@media only screen
and (max-width : 480px) {
	#reviewWrapper 
	{
		padding-left: 0;

		.title 
		{
			padding: 0;
			text-align: center;
		}
	}
}

