{% extends "_BaseAdminTemplate.html" %}


{% block title %}Articles{% endblock title %}


{% block addtlContent %}
    {% csrf_token %}
    <div id="contentWrapper" class="uk-grid uk-grid-collapse" data-ng-controller="ArticleViewController as vm">
        <div class="page-loader">
            <div class="circle-loader">Loading...</div>
        </div>

        <div id="table" class="uk-width-4-10">
            <table class="uk-table uk-table-hover">
                <thead>
                    <tr>
                        <th>Article Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% if articles %}
                        {% for i in articles %}
                            <tr data-ng-click="vm.loadPreview('{{ i.id }}', '{{ i.slug }}', '{{ i.status }}')">
                                <td>{{ i.title }}</td>
                                <td>
                                    {% if i.status == 'review' %}
                                        <div class="uk-badge uk-badge-danger">
                                            {{ i.status }}
                                        </div>
                                    {% else %}
                                        <div class="uk-badge">
                                            {{ i.status }}
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <div class="uk-text-center uk-text-muted padding-v"><small>No Articles to Review</small></div>
                    {% endif %}
                    
                    <div data-ng-show="vm.articles.length > 0">
                        {% verbatim %}
                            <tr data-ng-repeat="i in vm.articles" data-ng-click="vm.loadPreview(i.pk, i.fields.slug, i.fields.status)">
                                <td>{{ i.fields.title }}</td>
                                <td>
                                    <div data-ng-class="{ 'uk-badge-danger': i.fields.status === 'ready', 'uk-badge-warning': i.fields.status === 'draft' }" class="uk-badge">
                                        {{ i.fields.status }}
                                    </div>
                                </td>
                            </tr>
                        {% endverbatim %}
                    </div>
                </tbody>
            </table>
            
            <div id="loadMore" data-ng-click="vm.loadMore()" data-ng-hide="vm.pageCount >= vm.maxPages">View More Articles</div>
        </div>

        <div id="preview" class="uk-width-6-10">
            <div id="placeholder" data-ng-show="!vm.showPreview">
                <span class="icon icon-read-more"></span>
                <p>Select an article to preview it</p>
            </div>
            
            {% verbatim %}
            <div id="article" data-ng-class="{'visible':vm.showPreview}">
                <div class="preview-actions">
                    <a data-ng-if="vm.preview.status !== 'published'" href="/editor/id={{ vm.preview.id }}/">
                        <span data-ng-if="vm.preview.status === 'draft'">continue draft</span>
                        <span data-ng-if="vm.preview.status === 'ready'">proofread article</span>
                        <span data-ng-if="vm.preview.status === 'queued'">preview article</span>
                    </a>

                    <a data-ng-if="vm.preview.status === 'published'" target="_blank" href="https://chicreptawr-blog.herokuapp.com/cycle/{{ vm.preview.slug }}/"><span>read article</span></a>
                </div>
                <div class="preview-title">{{ vm.preview.title }}</div>
                <div class="preview-content" ng-bind-html="vm.preview.content"></div>
                <div class="preview-actions">
                    <a data-ng-if="vm.preview.status !== 'published'" href="/editor/id={{ vm.preview.id }}/">
                        <span data-ng-if="vm.preview.status === 'draft'">continue draft</span>
                        <span data-ng-if="vm.preview.status === 'ready'">proofread article</span>
                        <span data-ng-if="vm.preview.status === 'queued'">preview article</span>
                    </a>

                    <a data-ng-if="vm.preview.status === 'published'" target="_blank" href="https://chicreptawr-blog.herokuapp.com/cycle/{{ vm.preview.slug }}/"><span>read article</span></a>
                </div>
            </div>
            {% endverbatim %}
        </div>
    </div>
{% endblock addtlContent %}