{% extends "_BaseAdminTemplate.html" %}


{% block title %}Home{% endblock title %}


{% block addtlContent %}
    {% if message %}
        <section id="dashMessage" class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="close panel-close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>

                <h3>Message from the System Admin</h3>
                
                <section>
                    <p><small>{{ message }}</small></p>
                    <p class="text-left"><small> - Amanda</small></p>
                </section>
            </div>
        </section>
    {% endif %}

    <div id="contentWrapper" data-ng-controller="DashboardController as dash">
        <section id="cycleHeader">
            <div hidden>
                <svg width="64" height="64" viewBox="0 0 64 64">
                    <path id="arrow-left-3" d="M44.797 17.28l0.003 29.44-25.6-14.72z" />
                </svg>
                <svg width="64" height="64" viewBox="0 0 64 64">
                    <path id="arrow-right-3" d="M19.203 17.28l-0.003 29.44 25.6-14.72z" />
                </svg>
            </div>

            <div id="cycle">
                <a id="currentCycle" class="intro-content animated fadeInUp" href="#">
                    <p class="cycle-count">Current Cycle: 0{{ data.cycle.number }}</p>
                    
                    <h1 class="cycle-title">{{ data.cycle.title }}</h1>
                    <p class="cycle-description">{{ data.cycle.description }}</p>
                    
                    <hr>
                    
                    <p class="cycle-description"><strong>Core Topics: </strong> Cultural identity, competency, and the difference in being a "millennial".</p>

                    <div class="nav-multithumb">
                        <span class="icon-wrap"><svg class="icon" width="32" height="32" viewBox="0 0 64 64"><use xlink:href="#arrow-right-3"></svg></span>
                        <div></div>
                    </div>
                </a> 
            </div>
        </section>
        
        <div id="widgets" class="uk-grid">
            <div class="uk-width-medium-2-3">
                <section id="stats">
                    <div class="uk-grid uk-grid-collapse">
                        <div class="uk-width-1-4 stat-card">
                            <div class="stat-card__value counter" data-counterup-time="1500" data-counterup-delay="30">6</div>
                            <div class="stat-card__label">Articles I've Written</div>
                        </div>

                        <div class="uk-width-1-4 stat-card">
                            <div class="stat-card__value counter" data-counterup-time="1500" data-counterup-delay="30">33</div>
                            <div class="stat-card__label">Total Articles</div>
                        </div>

                        <div class="uk-width-1-4 stat-card">
                            <div class="stat-card__value counter" data-counterup-time="1500" data-counterup-delay="30">267</div>
                            <div class="stat-card__label">Empire Visitors</div>
                        </div>

                        <div class="uk-width-1-4 stat-card">
                            <div class="stat-card__value counter" data-counterup-time="1500" data-counterup-delay="30">304</div>
                            <div class="stat-card__label">Article Shares</div>
                        </div>
                    </div>
                </section>

                <section id="updates" class="panel">
                    <div class="panel-title">Updates</div>
                    
                    <div class="panel-body">
                        <ul>
                        {% if user.role != 'Founder' %}
                            <li>
                                <small>You have <a class="uk-link" href="{% url 'articles' %}">{{ drafts|length }} drafts </a> currently saved.</small>
                            </li>
                        {% else %}
                            <li>
                                <small>You have <a class="uk-link" href="{% url 'articles' %}">{{ draftsCount }} drafts </a> currently saved.</small>
                            </li>
                            <li>
                                <small>There are <a class="uk-link" href="{% url 'articles' %}">{{ reviewCount }} articles </a> that need to be reviewed.</small>
                            </li>
                        {% endif %}
                        </ul> 
                    </div>
                </section>

                <section id="articles" class="panel">
                    <div class="panel-title">Articles
                        <ul>
                            <li data-position="1" data-target="#review" data-toggle-element=".section" class="active" slide-effect>Needs Review ({{ review|length }})</li>
                            <li data-position="2" data-target="#drafts" data-toggle-element=".section" slide-effect>Drafts ({{ drafts|length }})</li>
                            <li data-position="3" data-target="#queue" data-toggle-element=".section" slide-effect>Queued ({{ queue|length }})</li>
                        </ul>
                    </div>

                    <div class="panel-body wrapper">
                        <div data-position="1" class="section active" id="review">
                            <div class="articles b-b-none">
                            {% if review %}
                                {% for x in review %}
                                    <a href="/editor/q/{{ x.id }}">
                                        <div class="article">
                                            <div class="article-title">{{ x.title }}</div>
                                            <div class="article-date small release-date">{{ x.published_date|date }}</div>
                                        </div>
                                    </a>
                                {% endfor %}
                            {% else %}
                                <div class="uk-text-center uk-text-muted"><small>No Articles to Review</small></div>
                            {% endif %}
                            </div>
                        </div>

                        <div data-position="2" class="section" id="drafts">
                            <div class="articles b-b-none">
                            {% if drafts %}
                                {% for y in drafts %}
                                    <a href="/editor/c/{{ y.id }}">
                                        <div class="article">
                                            <div class="article-title">{{ y.title }}</div>
                                            <div class="article-date small release-date">{{ y.published_date|date }}</div>
                                            <div class="small">Continue Draft</div>
                                        </div>
                                    </a>
                                {% endfor %}
                            {% else %}
                                <div class="uk-text-center uk-text-muted"><small>You currently have no saved drafts</small></div>
                            {% endif %}
                            </div>
                        </div>

                        <div data-position="3" class="section" id="queue">
                            <div class="articles b-b-none">
                            {% if queue %}
                                {% for z in queue %}
                                    <a href="/editor/p/{{ z.id }}">
                                        <div class="article">
                                            <div class="article-title">{{ z.title }}</div>
                                            <div class="article-author">by {{ z.author.first_name }} {{ z.author.last_name }}</div>
                                            <div class="article-date small release-date">{{ z.published_date|date }}</div>
                                        </div>
                                    </a>
                                {% endfor %}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            
            <div id="reviewComments" class="uk-width-medium-1-3 m-t-md panel" ng-controller="CommentsController as comments"></div>
        </div>
    </div>
{% endblock addtlContent %}


{% block addtlScripts %}
    <script type="text/ng-template" id="comments.html">
        {% include "partials/comments.html" %}
    </script>
{% endblock addtlScripts %}