{% extends "_BaseAdminTemplate.html" %}


{% block title %}Profile{% endblock title %}


{% block addtlContent %}
    <div id="profileWrapper" ng-controller="profileController">
        <div id="errorMsg" class="alert alert-danger sticky animated fadeInDown">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <p class="message"></p>
        </div>

        <div id="successMsg" class="alert alert-success sticky animated fadeInDown">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <p class="message"></p>
        </div>

        <form id="profile" enctype="multipart/form-data">
            <div class="page-loader">
                <div class="circle-loader"></div>
            </div>

            <div class="container-fluid">
                <div class="col-md-5" id="preview">
                    <div class="section-header">About Me</div>

                    <div class="preview-avatar">
                        {% if user.avatar %}
                            <img id="avatar" src="/static/images/profile/{{ user.avatar }}" alt="Profile Picture" width="175" />
                        {% else %}
                            <img id="avatar" src="/static/images/avatars/stevie.jpg" alt="Profile Picture" width="175" />
                        {% endif %}

                        <!-- <input ng-model="profile.avatar" id="avatarURL" ng-value="{[ profile.avatar ]}" type="hidden" />  -->
                    </div>
                    
                    <div class="edit-avatar">
                        <button id="changeAvi" class="btn btn-secondary-outline">Change Picture</button>
                        <button id="deleteAvi" class="btn btn-secondary-outline" {% if not user.avatar %}hidden{% endif %}>Delete</button>
                    </div>
                    
                    <div class="custom-file-upload">
                        <label class="file">
                            <input type="file" id="uploadAvi" accept='image/*' />
                            <span class="file-custom"></span>
                        </label>

                        <div class="cancel-upload">
                            <span class="icon icon-circle-cross"></span>
                        </div>
                    </div>

                    <div class="preview-details">
                        <div class="preview-details__name">{[ profile.fullname ]}</div>
                        <div class="preview-details__title">{[ profile.role ]}</div>
                    </div>

                    <div class="preview-social">
                        <ul>
                            {% if user.website %}
                            <li data-toggle="tooltip" data-placement="bottom" title="{{ user.website }}"><span class="icon icon-global"></span></li>
                            {% endif %}
                            
                            {% if user.facebook %}
                            <li data-toggle="tooltip" data-placement="bottom" title="{{ user.facebook }}"><span class="icon icon-facebook2"></span></li>
                            {% endif %}

                            {% if user.twitter %}
                            <li data-toggle="tooltip" data-placement="bottom" title="{{ user.twitter }}"><span class="icon icon-twitter2"></span></li>
                            {% endif %}

                            {% if user.tumblr %}
                            <li data-toggle="tooltip" data-placement="bottom" title="{{ user.tumblr }}"><span class="icon icon-tumblr2"></span></li>
                            {% endif %}

                            {% if user.pinterest %}
                            <li data-toggle="tooltip" data-placement="bottom" title="{{ user.pinterest }}"><span class="icon icon-pinterest"></span></li>
                            {% endif %}

                            {% if user.linkedin %}
                            <li data-toggle="tooltip" data-placement="bottom" title="{{ user.linkedin }}"><span class="icon icon-linkedin"></span></li>
                            {% endif %}

                            {% if user.instagram %}
                            <li data-toggle="tooltip" data-placement="bottom" title="{{ user.instagram }}"><span class="icon icon-instagram"></span></li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="preview-bio">{[ profile.bio ]}</div>
                    
                    <div class="preview-stats">
                        <ul>
                            <li>
                                <div class="stats-value">13</div>
                                <div class="stats-name">Articles</div>
                            </li>

                            <li>
                                <div class="stats-value">203</div>
                                <div class="stats-name">Comments
                                </div>
                            </li>

                            <li>
                                <div class="stats-value">58</div>
                                <div class="stats-name">Likes</div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-7" id="edit">
                    <div class="section-header">Edit Your Personal Info</div>

                    <div class="form-group row">
                        <label class="col-xs-4">Username</label>
                        <div id="username" class="col-xs-8">{{ name }}</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-xs-4">Email Address</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="email" name="email" ng-value="{[ profile.email ]}" ng-model="profile.email" value="{{ user.email }}" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-xs-4">Full Name</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="fullname" name="fullname" ng-value="{[ profile.fullname ]}" ng-model="profile.fullname" value="{{ user.fullname }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label>About Me</label>
                        <textarea class="form-control" id="bio" name="bio" rows="5" placeholder="A short, captivating statement about yourself">{[ profile.bio ]}</textarea>
                    </div>

                    <div class="section-header border">Social Media</div>

                    <div class="form-group row">
                        <label class="col-xs-4">Personal Website</label>
                        <div class="col-xs-8">
                            <input class="form-control" id="website" name="website" type="text" ng-value="{[ profile.website ]}" ng-model="profile.website" value="{{ user.website }}" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-xs-4">Facebook</label>
                        <div class="col-xs-8">
                            <input class="form-control" id="facebook" name="facebook" type="text" ng-value="{[ profile.facebook ]}" ng-model="profile.facebook" value="{{ user.facebook }}" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-xs-4">Twitter</label>
                        <div class="col-xs-8">
                            <input class="form-control" id="twitter" name="twitter" type="text" ng-value="{[ profile.twitter ]}" ng-model="profile.twitter" value="{{ user.twitter }}" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-xs-4">Tumblr</label>
                        <div class="col-xs-8">
                            <input class="form-control" id="tumblr" name="tumblr" type="text" ng-value="{[ profile.tumblr ]}" ng-model="profile.tumblr" value="{{ user.tumblr }}" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-xs-4">Pinterest</label>
                        <div class="col-xs-8">
                            <input class="form-control" id="pinterest" name="pinterest" type="text" ng-value="{[ profile.pinterest ]}" ng-model="profile.pinterest" value="{{ user.pinterest }}" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-xs-4">LinkedIn</label>
                        <div class="col-xs-8">
                            <input class="form-control" id="linkedin" name="linkedin" type="text" ng-value="{[ profile.linkedin ]}" ng-model="profile.linkedin" value="{{ user.linkedin }}" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-xs-4">Instagram</label>
                        <div class="col-xs-8">
                            <input class="form-control" id="instagram" name="instagram" type="text" ng-value="{[ profile.instagram ]}" ng-model="profile.instagram" value="{{ user.instagram }}" />
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="text-xs-center m-lg">
            <p class="btn btn-pink" id="updateProfile" ng-click="updateProfile(profile)">Update Profile</p>
        </div>
    </div>
{% endblock addtlContent %}