{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" data-ng-app="adminApp" class="mm-small">
    <head>
        <meta charset="utf-8">  
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        {% if data.page == 'login' %}
            <title>Empire</title>
        {%  else %}
            <title>{% block title %}{% endblock title %}  |  Empire Dashboard</title>
        {% endif %}

        <meta name="author" content="Amanda Anumba" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="HandheldFriendly" content="true">
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-title" content="Empire Dashboard" />
        <meta name="theme-color" content="#FFFFFF" />
        <meta name="msapplication-navbutton-color" content="#FFFFFF" />
        <link rel="icon" href="https://s3.amazonaws.com/chicreptawr/favicon.png" />
        <link rel="apple-touch-icon" href="https://s3.amazonaws.com/chicreptawr/favicon.png" />
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700|Suranna' />
        <script src="{% static 'js/modernizr.js' %}"></script>

        <link href="{% static 'css/editor.css' %}" rel="stylesheet" />

        {% block addtlHeader %}{% endblock addtlHeader %}

        {% if data.hasPageCSS %}
            <link rel="stylesheet" href="/static/css/{{ data.page }}.css?v={{ data.version }}" />
        {% endif %}
    </head>

    <body data-ng-controller="EditorController as vm">
        <div id="content">
            <main>
                {% include "partials/header-editor.html" %}
                {% include "partials/menu.html" %}
                
                {% block addtlContent %}{% endblock addtlContent %}
                
                <div id="modals" data-ng-controller="AutosaveController as ctrl">
                    {% verbatim %}
                        <div id="autosaveModal" class="ui small modal">
                            <div class="header">Saved Drafts</div>

                            <div class="content">
                                <h4>You have {{ ctrl.drafts.length }} saved drafts. Click one to continue with it or to delete it.</h4>
                                
                                <div class="ui items">
                                    <div class="item" data-ng-repeat="x in ctrl.drafts">
                                        <div class="ui tiny image">
                                            <span class="icon-paper"></span>
                                        </div>

                                        <div class="content">
                                            <a href="javascript:void(0);" class="header" data-ng-click="ctrl.load(x.title)">{{ x.title }}</a>
                                            <div class="extra">Started on {{ x.display_date }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="actions">
                                <div class="ui black cancel button">Close</div>
                                <div class="ui basic button" data-ng-click="ctrl.clearStorage()">Delete All Drafts</div>
                            </div>
                        </div>
                    {% endverbatim %}
                    
                    <div id="saveModal" class="ui basic small modal">
                        <div class="header">Are you sure?</div>
    
                        <div class="content">
                            <div class="infinity-loader">
                                <div class="loader"></div>
                            </div>
                        </div>

                        <div class="actions">
                            <div class="ui basic cancel inverted button">
                                <i class="remove icon"></i>
                                No
                            </div>

                            <div class="ui red ok inverted button" data-ng-click="vm.articleDelete('{{ article.id }}')">
                                <i class="checkmark icon"></i>
                                Yes, Delete it
                            </div>
                        </div>
                    </div>

                    {% if data.page != 'write' %}
                        <div id="deleteModal" class="ui basic small modal">
                            <div class="header">Are you sure?</div>
        
                            <div class="content">
                                <h4>Are you sure you want to delete this article?</h4>
                            </div>

                            <div class="actions">
                                <div class="ui basic cancel inverted button">
                                    <i class="remove icon"></i>
                                    No
                                </div>

                                <div class="ui red ok inverted button" data-ng-click="vm.articleDelete('{{ article.id }}')">
                                    <i class="checkmark icon"></i>
                                    Yes, Delete it
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </main>
            
            <footer>
                <script>var debug = {% if data.debug %}true{% else %}false{% endif %};</script>
                <script src="{% static 'js/libs.js' %}?v={{ data.version }}"></script>
                <script src="{% static 'js/third-party/froala-editor.js' %}"></script>
                <script src="{% static 'js/third-party/semantic.js' %}"></script>
                <script src="{% static 'js/editor.js' %}?v={{ data.version }}"></script>
                <script>
                    $(function() {
                        $('.ui.accordion').accordion();
                        $('.ui.checkbox').checkbox();
                        $('.ui.dropdown').dropdown();
                    });
                </script>
            </footer>
        </div>
    </body>
</html>