{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" data-ng-app="adminApp" class="mm-small">
    <head>
        <meta charset="utf-8">  
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        {% if data.page == 'login' %}
            <title>Empire</title>
        {%  else %}
            <title>{% block title %}{% endblock title %}  |  Empire Dashboard</title>
        {% endif %}

        <meta name="author" content="Amanda Anumba" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="HandheldFriendly" content="true">
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-title" content="Empire Dashboard" />
        <meta name="theme-color" content="#FFFFFF" />
        <meta name="msapplication-navbutton-color" content="#FFFFFF" />
        <link rel="icon" href="https://s3.amazonaws.com/chicreptawr/favicon.png" />
        <link rel="apple-touch-icon" href="https://s3.amazonaws.com/chicreptawr/favicon.png" />
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,300,700|Suranna' />
        <script src="{% static 'js/modernizr.js' %}"></script>

        <link rel="stylesheet" href="{% static 'css/editor.css' %}" />

        {% block addtlHeader %}{% endblock addtlHeader %}

        {% if data.hasPageCSS %}
            <link rel="stylesheet" href="/static/css/{{ data.page }}.css?v={{ data.version }}" />
        {% endif %}
    </head>

    <body data-ng-controller="EditorController as vm">
        <div id="content">
            <main>
                {% include "partials/header-editor.html" %}
                {% include "partials/menu.html" %}
                
                {% block addtlContent %}{% endblock addtlContent %}
                
                {% verbatim %}
                    <div id="autosaveModal" class="ui small modal" data-ng-controller="AutosaveController as ctrl">
                        <div class="header">Saved Drafts</div>

                        <div class="content">
                            <p class="m-b">
                                You have
                                <ng-pluralize 
                                    count="ctrl.drafts.length"
                                    when="{'0': '',
                                           '1': '{} saved draft. ',
                                           'other': '{} saved drafts. '}">
                                </ng-pluralize>
                                Click the title to continue with it or to the 'x' to delete it.
                            </p>
                            
                            <draft data-draft-id="{{ x.title }}" class="draft" data-ng-repeat="x in ctrl.drafts">
                                <div class="draft__info" data-ng-click="ctrl.load(x.title)">
                                    <div class="draft__title"><strong>{{ x.title }}</strong></div>
                                    <div class="draft__date">Started on {{ x.display_date }}</div>
                                </div>

                                <div class="draft__btn" data-ng-click="ctrl.remove(x.title)">
                                    <span class="icon icon-circle-cross"></span>
                                </div>
                            </draft>
                        </div>
                        
                        <div class="actions">
                            <div class="ui black cancel button">Close</div>
                            <div class="ui basic button" data-ng-click="ctrl.clearStorage()">Delete All Drafts</div>
                        </div>
                    </div>
                {% endverbatim %}
                
                <div id="saveModal" class="ui basic small modal">
                    <div class="header">Are you sure?</div>

                    <div class="content">
                        
                    </div>

                    <div class="actions">
                        <div class="ui basic cancel inverted button">
                            <i class="remove icon"></i>
                            No
                        </div>

                        <div class="ui red ok inverted button" data-ng-click="vm.articleSave()">
                            <i class="checkmark icon"></i>
                            Yes, Delete it
                        </div>
                    </div>
                </div>

                {% if data.page != 'write' %}
                    <div id="deleteModal" class="ui basic small modal">
                        <div class="header">Are you sure?</div>
    
                        <div class="content">
                            <h4>Are you sure you want to delete this article?</h4>
                        </div>

                        <div class="actions">
                            <div class="ui basic cancel inverted button">
                                <i class="remove icon"></i>
                                No
                            </div>

                            <div class="ui red ok inverted button" data-ng-click="vm.articleDelete()">
                                <i class="checkmark icon"></i>
                                Yes, Delete it
                            </div>
                        </div>
                    </div>
                {% endif %}
            </main>
            
            <footer>
                <script>var debug = {% if data.debug %}true{% else %}false{% endif %};</script>
                <script src="{% static 'js/libs.js' %}?v={{ data.version }}"></script>
                <script src="{% static 'js/third-party/froala-editor.js' %}"></script>
                <script src="{% static 'js/third-party/semantic.js' %}"></script>
                <script src="{% static 'js/editor.js' %}?v={{ data.version }}"></script>
                <script>
                    $(function() {
                        $('.ui.accordion').accordion();
                        $('.ui.checkbox').checkbox();
                        $('.ui.dropdown').dropdown();
                        $('#tags').tagEditor({ 
                            placeholder: 'Enter tags ...'
                        });
                    });
                </script>
            </footer>
        </div>
    </body>
</html>