{% extends "_BaseAdminTemplate.html" %}


{% block title %}My Articles{% endblock title %}


{% block addtlContent %}
	<div id="reviewWrapper" class="clearfix">
		<div id="articles" class="col-md-5">
            <div class="section-title">
                <ul>
                    <li data-position="1" data-toggle="#published" class="active">Published Articles (35)</li>
                    <li data-position="2" data-toggle="#mine">My Articles (0)</li>
                </ul>
            </div>
            
            <div id="sectionsWrapper">
	            <div class="section active" id="published">
	                <div class="articles b-b-none">
						{% if articles %}
							{%- for i in articles %}
								<a href="/editor/p/{{ i['objectId'] }}">
									<div class="article">
										<div class="article-title">{{ i['title'] }}</div>
										<div class="article-author">by {{ i['author'] }}</div>
										<div class="article-date small releasedate">{{ i['releaseDate'] }}</div>
									</div>
								</a>
							{% endfor -%}
						{% else %}
							<div class="text-xs-center wrapper-lg text-muted"><small>No Articles to Review</small></div>
						{% endif %}
					</div>
				</div>

				<div class="section" id="mine">
	                <div class="articles b-b-none">
						{% if drafts %}
							{%- for z in drafts %}
								<a href="/editor/q/{{ z['objectId'] }}">
									<div class="article">
										<div class="article-title">{{ z['title'] }}</div>
										<div class="article-author">{{ z['updatedAt'] }}</div>
										<div class="article-date small">Continue Draft</div>
									</div>
								</a>
							{% endfor -%}
						{% else %}
							<div class="text-xs-center wrapper-lg text-muted"><small>All good here!</small></div>
						{% endif %}
					</div>
				</div>
			</div>
	    </div>

		<div class="col-md-7">
			<div id="previewPlaceholder">
				<span class="icon icon-focus"></span>
				<p>Article Preview</p>
			</div>
	    </div>
	</div>
{% endblock addtlContent %}