{% extends "_BaseAdminTemplate.html" %}


{% block title %}Tools{% endblock title %}


{% block addtlContent %}
	<div id="reviewWrapper">
		<div class="col-md-7">
			<div class="title">Admin Tools</div>
		</div>

		<div role="tabpanel">
			<ul id="toolsTab" class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#images" aria-controls="images" role="tab" data-toggle="tab">Images</a></li>
				<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
				<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="images">
					<section class="pull-left padder-md">
						<h1>Sites for Images</h1>
						<p><small>for free high-quality images</small></p>
						<ol>
							<li><a href="https://unsplash.com/grid" target="_blank">unsplash.com</a></li>
							<li><a href="http://www.imcreator.com/free" target="_blank">imcreator.com/free</a></li>
							<li><a href="http://publicdomainarchive.com/" target="_blank">publicdomainarchive.com</a></li>
							<li><a href="http://jaymantri.com/" target="_blank">jaymantri.com</a></li>
							<li><a href="http://getrefe.tumblr.com/" target="_blank">getrefe.tumblr.com</a></li>
							<li><a href="http://picography.co/" target="_blank">picography.co</a></li>
							<li><a href="http://littlevisuals.co/" target="_blank">littlevisuals.co</a></li>
							<li><a href="http://gratisography.com/" target="_blank">gratisography.com</a></li>
							<li><a href="http://www.freeimages.com/" target="_blank">freeimages.com</a></li>
							<li><a href="http://picjumbo.com/" target="_blank">picjumbo.com</a></li>
						</ol>
					</section>

					<section class="pull-left padder-md">
						<h1>Unethical Hack for Finding Images</h1>
						<p>To get images from sites like <a href="http://www.istockphoto.com/" target="_blank">istockphoto</a>, <a href="http://www.gettyimages.com/" target="_blank">gettyimages</a>, or <a href="http://www.shutterstock.com/" target="_blank">shutterstock</a> follow the steps below.</p>
						<ul>
							<li>Search for an image</li>
							<li>Open up a new window/browser tab and navigate to Google Search</li>
							<li>Drag and drop the image from the site into the Google search toolbar</li>
							<li>Your search results will be websites that have purchased the image and are hosting the full-size image</li>
							<li>Navigate to one of the sites and grab the image</li>
							<li>** does not work every time</li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>
{% endblock addtlContent %}