/**
 *  
 * styles for the top header navbar
 * (replace by push menu/mmenu on mobile devices)
 *
**/
$height: 50px;
$padding: $height / 2;

#header
{
	height: $height;
	background-color: white;
	color: #4a4a4a;
	font-size: 13px;
	border-bottom: 1px solid darken(whitesmoke, 7%);
	
	#back 
	{
		padding-left: $padding;
		line-height: $height;
		float: left;
	}
	
	#docLinks 
	{
		position: absolute;
		left: 75px;
		right: 0;
		width: 50%;

		.ui.menu 
		{
			margin: 0;
		}

		ul 
		{
			padding: 0;
			margin: 0 auto;
			width: auto;
			list-style-type: none;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			line-height: $height;
		}
	}

	#extraLinks 
	{
		padding-right: $padding;
		float: right;
	}

	> ul 
	{
		padding: 0;
		margin: 0 auto;
		width: auto;
		list-style-type: none;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.7px;
		font-weight: bold;
		line-height: $height;
	}

	ul > li 
	{
		display: inline-block;
		padding: 0 11px;
		cursor: pointer;

		&:hover,
		&:focus
		{
			color: #014c8c;
		}

		&:last-child
		{
			padding-right: 0;
		}
	}

	.icon
	{
		font-size: 17px;

		&.icon-trash-can2
		{
			font-size: 21px;
		}
	}
}