{% extends "_BaseEditorTemplate.html" %}


{% block title %}Editor{% endblock title %}


{% block header %}
	<div class="ui horizontal list actions">
		<span class="icon icon-trash-can"></span>

		<!-- <div class="item">
			<button class="ui grey basic tiny button">
				<span class="icon-trash-can"></span>
			</button>
		</div> -->

		<div class="item">Save Draft</div>
		<!--	<button class="ui grey basic tiny button">Save Draft</button>
		</div> -->

		<div class="item">Publish</div>
		<!--	<button class="ui primary tiny button">Publish</button>
		</div> -->
	</div>
{% endblock header %}


{% block addtlContent %}
	<form method="post" name="article" id="article" role="form" novalidate>
		{% csrf_token %}
		<input type="hidden" name="header_image" data-ng-model="vm.header_image" />
		<input type="hidden" name="feature_image" data-ng-model="vm.feature_image" />
		<input type="hidden" name="author" data-ng-model="vm.author" value="{{ user.user.username }}" />
		<input type="hidden" name="co_author" data-ng-model="vm.co_author" />
		
		<div class="ui grid container">
			<div class="thirteen wide column">
				<section class="article__header-image display-none">
					<!-- changes based on article_type; feature is full width; regular is a side image-->
					{% include "partials/header_image.html" with image="" photoCred="" %}
				</section>


				<section class="article__info">
					{% include "partials/title.html" with author=username coAuthors="" title="" %}
				</section>

				<div id="editor" wysiwyg></div>
			</div>


			<div class="three wide column">
				{% include "partials/sidebar.html" %}
			</div>
		</div>
	</form>
{% endblock addtlContent %}