@mixin round-btn($width, $bkg-color, $text-color, $font: 12px) {
	@include transition-property(all);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in-out);
	background-color: $bkg-color;
	color: $text-color;
	width: $width;
	font-size: em(font,$font,$base-font-size);
	text-align: center;
}



.btn-pink
{
	@include round-btn(125px, #e64c65, white);
}
