/* partials + variables + responsiveness */
@import 'partials/colors',
		'partials/mixins',
		'partials/icons',
		'partials/helpers',
		'partials/responsive';


/* page components */
@import 'modules/base',
		'modules/header',
		'modules/menu',
		'modules/inputs';


/* vendor styles */
@import 'third-party/pushmenu',
		'third-party/animate',
		'third-party/jquery-ui',
		'third-party/jquery-ui.structure',
		'third-party/froala-editor',
		'third-party/froala-style',
		'third-party/froala-content',
		'third-party/font-awesome';


/**
 *  
 * Table of Contents
 * -----------------
 *
 * GENERAL PAGE STYLINGS ....... global variables, mixins, etc
 * PAGE SETUP............... credit app form element and top title bar/legend
 *
**/


/*------------------------------------*\
    PAGE SETUP
\*------------------------------------*/
body { background: whitesmoke; }
.alert { display: none; }

#header
{
	height: 50px;
	background-color: white;
	color: #4a4a4a;
	font-size: 13px;
	border-bottom: 1px solid darken(whitesmoke, 7%);

	ul 
	{
		padding: 0;
		margin: 0 auto;
		width: auto;
		list-style-type: none;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.7px;
		font-weight: bold;
		line-height: 50px;
	}

	li 
	{
		display: inline-block;
		padding: 0 25px;
		cursor: pointer;

		&:hover,
		&:focus
		{
			color: #014c8c;
		}
	}

	.icon
	{
		font-size: 17px;

		&.icon-trash-can2
		{
			font-size: 21px;
		}
	}
}

.article 
{ 
	position: relative;
	width: 80%;
	margin: 0 auto 30px;
	
	&.proof
	{
		background-color: white;
	}

	.btn-default 
	{
		background-color: #F2F2F2;
	}
}

.label 
{
	font-size: 0.7em;
	color: #A2C5E4;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	margin-top: 10px;
	font-weight: 300;
	display: block;
}




/*------------------------------------*\
    #ARTICLE HEADER IMAGE
\*------------------------------------*/
.article__header-image
{
	position: relative;
	height: 250px;
	background-color: white;
	border: 1px solid darken(whitesmoke, 10%);
	text-align: center;
	margin-top: 25px;
	overflow: hidden;

	&.hover .image-overlay
	{
		background: none;
		color: white;

		.icon-camera,
		.overlay-text,
		.custom-file-upload
		{
			display: none;
		}

		&:hover 
		{
			background-color: rgba(0, 0, 0, 0.4);

			.overlay-buttons,
			.icon-camera 
			{
				display: block;
			}
		}
	}
}

.image-overlay
{
    @include bkg_img_overlay("/static/images/12.jpg", rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    padding-top: 50px;
    @include transition-property(all);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in-out);

    .icon-camera
    {
    	font-size: 40px;
    }

	.overlay-text 
	{
		font-size: 20px;
	}

    .custom-file-upload
	{
		display: none;
		position: relative;

		&.filled .file-custom:after
		{
			content: "";
		}

		.file-custom, 
		.file-custom:before 
		{
			height: 1.95rem;
	    	line-height: 1;
	    	text-align: left;
		}

		.cancel-upload
		{
			position: absolute;
		    font-size: 20px;
		    color: #6F6F6F;
		    left: 45%;
		    top: 0;
		    cursor: pointer;

		    &:hover 
		    {
		    	color: indianred;
		    }
		}
	}

	.overlay-buttons
	{
		display: none;

		ul 
		{
			@include list-inline();
		}

		li 
		{
			padding: 3px 15px;
		}
	}
}

.image-details,
.image
{
	display: none;
}

.image img 
{
	width: 100%;
}














/*------------------------------------*\
    ARTICLE COMPONENTS
\*------------------------------------*/
.article__info
{
	margin: 25px 0;
}

#title 
{
	font-size: 27px;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 5px solid black;
}

.custom-dropdown
{
	background-color: white;
	border: 1px solid darken(whitesmoke, 10%);
	width: 275px;
}

.custom-dropdown-toggle 
{
	text-align: center;
	cursor: pointer;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
	font-weight: bold;

	.icon
	{
		padding-right: 5px;
		font-size: 17px;
		vertical-align: middle;
	}
}

.custom-dropdown-menu ul
{ 
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid darken(whitesmoke, 10%);
	font-size: 13px;

	li 
	{
		padding: 5px 15px;

		&:hover 
		{
			background-color: #F2F2F2;
		}
	}

	input 
	{
		margin-right: 8px;
	}

	label 
	{
		margin: 0;
		cursor: pointer;
	}
}




/*------------------------------------*\
    #FROALA EDITOR
\*------------------------------------*/
.froala-element 
{
	height: inherit !important;
	background: white;
}







#menu-toggle > p
{
	transform: rotate(-90deg);
	transform-origin: left bottom;
	position: relative;
	left: 29px;
	top: 221px;
	/* height: 200px; */
	width: 200px;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 3px;
}

.doc-icon {
	cursor: pointer;
	color: #A2C5E4;
}

#tags_list {
	width: 85%;
	height: 80px;
	overflow-y: scroll;
	display: none;
	font-size: 0.8em;
	background: #525252;
	color: white;
}

.remove_tag {
	cursor: pointer;
	margin-right: 9px;
	color: rgba(255, 113, 113, 0.66);
}

.sub-label {
	font-size: 0.7em;
	letter-spacing: 0.9px;
	font-weight: 300;
	color: white;
}

// popouts
.popout {
	background: rgba(19, 19, 19, 0.84);
	position:fixed;
	width: 360px;
	height: auto;
	top: 10%;
	right:-360px;
	// padding-left: 50px;
	z-index:2050;

	header {
		font-size: 1.2em;
		text-transform: uppercase;
		color: rgb(182, 182, 182);;
		margin: 10px 20px 0;
		padding-bottom: 5px;
		border-bottom: 1px solid rgb(182, 182, 182);;
		text-align: center;
		font-weight: 300;
		letter-spacing: 0.7px;
	}

	.popout_content {
		padding: 20px;
	}

	.slide_toggle {
		position: absolute;
		left: -50px;
		height: 50px;
		cursor: pointer;
		border-right: 0px;
		@include border-radius(5px 0px 0 5px);
		background: #E4E4E4;
		width: 48px;
		border: 1px solid #ebebeb;
		border-bottom: 2px solid #BBBBBB;
		-moz-border-radius: 5px;
		// z-index:950;
		border-radius: 5px;

		&:before {
			font-family: 'icomoon';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			color: #4d4d4d;
			font-size: 17pt;
			padding-left: 0.6em;
			position: absolute;
			top: 14px;
			left: 0;
		}
	}

	#settings_toggle {
		top: 0;

		&:before {
			content: "\e085";
		}
	}

	#media_toggle {
		top: 54px;

		&:before {
			content: "\e017";
		}
	}

	#review_toggle {
		top: 108px;

		&:before {
			content: "\e128";
		}
	}
}

.popout-left {
	background: rgba(19, 19, 19, 0.84);
	position:fixed;
	width: 360px;
	height: auto;
	top: 10%;
	left:-360px;
	// padding-left: 50px;
	z-index:2050;

	header {
		font-size: 1.2em;
		text-transform: uppercase;
		color: rgb(182, 182, 182);;
		margin: 10px 20px 0;
		padding-bottom: 5px;
		border-bottom: 1px solid rgb(182, 182, 182);;
		text-align: center;
		font-weight: 300;
		letter-spacing: 0.7px;
	}

	.popout_content {
		padding: 20px;
	}

	.slide_toggle-left {
		position: absolute;
		right: -50px;
		height: 50px;
		cursor: pointer;
		border-right: 0px;
		@include border-radius(5px 0px 0 5px);
		background: #E4E4E4;
		width: 48px;
		border: 1px solid #ebebeb;
		border-bottom: 2px solid #BBBBBB;
		-moz-border-radius: 5px;
		// z-index:950;
		border-radius: 5px;

		&:before {
			font-family: 'icomoon';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			color: #4d4d4d;
			font-size: 17pt;
			padding-left: 0.6em;
			position: absolute;
			top: 14px;
			left: 0;
		}
	}

	#uploads_toggle {
		top: 0;

		&:before {
			content: "\e123";
		}
	}
}

.sticky {
	position: fixed;
	opacity: 0.95;
	width: 400px;
	height: auto;
	left: 31%;
	top: 4%;
}

#article_category {
	
	p {
		font-size: 0.8em;
		text-transform: uppercase;
		letter-spacing: 1px;
		background: black;
		color: white;
		float: left;
		padding: 5px 10px;
		margin: 10px 6px 10px 0;
		font-weight: 300;
	}
}

#circle-progress {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

#circle-progress > svg {
    width: 100%;
    display: block;
}


@media only screen
and (max-width : 480px) {
	.article__header-img,
	.article__data,
	{
		display:none;
	}

	#editor, 
	{
		margin: 0 10px;
	}

	.article__info
	{
		margin: 20px 10px 0 10px;
	}

	.sticky {
		width: auto;
		left: 0;
		top: 7%;
		margin: 0 6%;
	}
}