/* core styles for admin pages */
@import 'modules/admin';



/**
 *  
 * Table of Contents
 * -----------------
 *
 * GENERAL PAGE STYLINGS ....... global variables, mixins, etc
 * PAGE SETUP............... credit app form element and top title bar/legend
 *
**/


#reviewWrapper 
{
	padding-top: 25px;

	.title 
	{
		padding-left: 30px;
		color: rgb(107, 107, 107);
		font-size: 1.2em;
		font-weight: 300;
	}
}

.tab-content 
{
	background: white;
	position: absolute;
	height: 100%;
}

ol li a 
{
	color: indianred; 
}