<div style="text-align:center; width: 500px; margin:0 auto; padding: 40px 0; background-color: white;border:1px solid #dddddd;">
	<div style="margin: 15px 0;">
		<img src="http://media.amandanumba.com/logo.jpg" alt="Empire Logo" width="110px" />
	</div>

	<div style="font-size: 15px; font-family: sans-serif;">Regarding your recent request..</div>

	<div style="marign-top: 20px; font-size: 12px;">
		Someone asked for password reset for email {{ email }}. Follow the link below:
		{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
	</div>
</div>