{% extends "_BlankPageTemplate.html" %}


{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
{% endblock head %}


{% block content %}
    <nav id="menuWrapper">
        <ul id="menu">
            <li>
                <a href="{{ url_for('dashboard.admin') }}">
                    <img src="{{ url_for('static', filename='images/e-logo.png') }}" alt="Empire" width="50">
                </a>
            </li>

            <li id="write">
                <a href="{{ url_for('editor.write') }}">
                    <div class="menu-item">
                        <span>Write</span>
                    </div>
                </a>
            </li>
            
            {% if name in ['Amanda', 'shantaviae', 'empressomeko1', 'rona.abara'] %}
                <li id="review">
                    <a href="{{ url_for('dashboard.review') }}">
                        <div class="menu-item">
                            <span>Review</span>
                        </div>
                    </a>
                </li>

                <li id="all">
                    <a href="{{ url_for('dashboard.allarticles') }}">
                        <div class="menu-item">
                            <span>All Articles</span>
                        </div>
                    </a>
                </li>
            {% endif %}
            
            <li>
                <a href="javascript:void(0)">
                    <div class="menu-item">
                        <span>Comments</span>
                    </div>
                </a>
            </li>

            {# <li id="tools">
                <a href="{{ url_for('dashboard.tools') }}">
                    <div class="menu-item">
                        <span class="icon icon-tools-2"></span>
                        <span>Tools</span>
                    </div>
                </a>
            </li> #}
        </ul>
    </nav>

    <main id="content" ng-app="adminApp">
        <header id="headerWrapper">
            <div class="header-title">Admin Dashboard</div>
            <ul class="mini-nav">
                <li class="dropdown">
                    <div class="dropdown-toggle" dropdown-toggle="#profileDropdown">{{ name }}</div>
                    <ul class="dropdown-menu animated fadeInRight w" id="profileDropdown">
                        <li><a href="{{ url_for('dashboard.profile') }}">My Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                </li>
            </ul>

            <div id="sideMenuToggle" class="toggle-menu menu-right">
                <span class="icon-nav icon-menu"></span>
            </div>
        </header>
        
        {% block addtlContent %}{% endblock addtlContent %}
        
        <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right display-none" id="sideMenu">
            <h3><span class="icon-cross" id="close-btn"></span></h3>
            <a href="{{ url_for('dashboard.admin') }}">Home</a>
            <a href="{{ url_for('editor.write') }}">Write</a>
            
            {% if name in ['Amanda', 'shantaviae', 'empressomeko1', 'rona.abara'] %}
                <a href="{{ url_for('dashboard.review') }}">Review</a>
                <a href="{{ url_for('dashboard.allarticles') }}">All Articles</a>
            {% else %}
                <a href="{{ url_for('dashboard.myarticles') }}">My Articles</a>
            {% endif %}

            {# <a href="{{ url_for('dashboard.tools') }}">Tools</a> #}

            <ul>
                <li><a href="{{ url_for('dashboard.profile') }}">Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
    </main>
{% endblock content %}


{% block footer %}
    <script src="/static/js/third-party/jPushMenu.js"></script>
    <script>
        $('.toggle-menu').jPushMenu();
    </script>
{% endblock footer %}