{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" data-ng-app="adminApp">
    <head>
        <meta charset="utf-8">  
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        {% if data.page == 'login' %}
            <title>Empire</title>
        {%  else %}
            <title>{% block title %}{% endblock title %}  |  Empire Dashboard</title>
        {% endif %}

        <meta name="author" content="Amanda Anumba" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="HandheldFriendly" content="true">
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-title" content="Empire Dashboard" />
        <meta name="theme-color" content="#FFFFFF" />
        <meta name="msapplication-navbutton-color" content="#FFFFFF" />
        <link rel="icon" href="https://s3.amazonaws.com/media.amandanumba.com/favicon.png" />
        <link rel="apple-touch-icon" href="https://s3.amazonaws.com/media.amandanumba.com/favicon.png" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Lato:400,300,700|Suranna|Playfair+Display:400,700italic,400italicf' rel='stylesheet' type='text/css' />
        <script src="{% static 'js/modernizr.js' %}"></script>

        {% block head %}{% endblock head %}

        {% if data.hasPageCSS %}
            <link rel="stylesheet" href="/static/css/{{ data.page }}.css?v={{ data.version }}" />
        {% endif %}
    </head>

    <body>
        <div id="content">
            {% block content %}{% endblock content %}

            <footer>
                <script>var debug = {% if data.debug %}true{% else %}false{% endif %};</script>
                <script src="{% static 'js/libs.js' %}?v={{ data.version }}"></script>
                
                {% block footer %}{% endblock footer %}

                {% if data.hasPageJS %}
                    <script src="/static/js/{{ data.page }}.js?v={{ data.version }}"></script>
                {% endif %}
            </footer>
        </div>
    </body>
</html>